#root {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;

    background-color: white;
}

.item {
    display: flex;
    align-items: flex-start;
    background-color: lightblue;

    & > svg {
        flex-grow: 1;
    }
}